h1{
    color:rgb(0, 0, 0);
    text-align: center;
    border: 30px violet;
}
Footer{
    position: fixed;
    text-align: center;
    padding-top: 30%;
    bottom: 0px;
    width: 96%;

}
#body1{
    text-align: center;
    padding-bottom: 15%;
    background-color: rgb(240, 240, 240);
}
.container{
    text-align: center;
    background-color: #FFCCBC; 
    margin: auto;
    border-radius: 20px;
    width: 500px;

}
button{
    background-color: #007bff;
    text-align: center;
}

